* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    padding: 20px;
    margin: 25px;
    background-color: darkcyan;
    color: white;
    border: none;
}

section {
    padding: 50px;
    background-color: silver;
    height: 200px;
    overflow-y: scroll;
}

span {
    color: brown;
    display: none;
}

input {
    margin: 35px;
    font-size: 4rem;
    border: transparent;
}

input:focus {
    border: gray 3px solid;
    border-radius: 5px;
}

.cuadro {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.notification {
    padding: 30px;
    background-color: green;
    color: white;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 9999;
    border-radius: 5px;
}

.notification span {
    top: 1%;
    right: 1%;
    color: gray;
    position: relative;
}

.inputGood {
    box-shadow: green 0px 0px 10px;
}

.inputBad {
    box-shadow: red 0px 0px 10px;
}